.principal{
	margin-top: 3%;
}

/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav li a i{
	float: right;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  /*border: 0;*/
  background-color: #3D8BCD;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

a{
  cursor: pointer;
}

.bs-docs-sidenav a:hover { 
    background-color: #3D8BCD!important;
    color:#FFFFFF;
}

.bs-docs-sidenav a:active {
  background-color: #2A618F!important;
}

.noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuLateral{
  margin-left:2%;
}

.menuFilho1{
  margin-left:113px;
  display:none;
}

.menuFilho2{
   margin-left:113px;
   display:none;
}

.menuNetoGer1{
  margin-left:113px;
  display:none;
}

.menuNetoGer2{
  margin-left:113px;
  display:none;
}

.sub2{
  margin-top:107px;
}

.agend{
  margin-top:145px;
}

.container{
  position: absolute;
}

.dadosUser{
  margin-top: 60px;
}

.mensagens{
  font-family: 'Open Sans', arial;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-size:18px;
  font-weight:400;
}

.alerta{
  color:red;
}

.invisivel{
  display: none;
}

.emInvSuss{
  color:darkGreen;
}

/* modal jquery dialog*/
.ui-dialog-titlebar-close{
    display: none;
}

.ui-widget-header{
    border: none;
}

.ui-dialog .ui-dialog-buttonpane{
    background-color: white;
}

.ui-widget-content{
    border: none;
}
/* fim modal jquery dialog*/

.horario{
  width: 100px;
}

.mr-25{
    margin-right:25px;
}